<!--for search box-->
<section class= " bg-white text-dark p-5 text-center">
<div class="container">
    <div class="d-sm-flex align-items-center justify-content-between ">
      <div>
        <h1> <span class="text-warning">Travel </span> all around</h1>
        <p class = "lead" > Welcome to Travel Nepal Tours & Travels Pvt. Ltd.</p>

      </div>
      <img class="img-fluid w-50" src="img/nepal.webp" alt="">
</div>
</section>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Card-->
<div class="card shadow mb-5 bg-white rounded">
    <!--Card-Body-->
    <div class="card-body">
        <!--Card-Title-->
        <p class="card-title text-center shadow mb-5 rounded"><b>Search For  Your Destination</b></p>
        <div class="icons text-center">
            <i class="fa fa-plane fa-2x" aria-hidden="true"></i>
            <i class="fa fa-taxi fa-2x" aria-hidden="true"></i>
            <i class="fa fa-train fa-2x" aria-hidden="true"></i> </div>
        <hr>
        
        <div class="row">
            <div class="col-sm-6"> <select class="browser-default custom-select mb-4" id="select">
                    <option value="" disabled="" selected="">Your Destination</option>
                    <option value="1">Kathmandu</option>
                    <option value="2">Pokhara</option>
                    <option value="3">Biratnagar</option>
                </select> </div>
            <div class="col-sm-6"> <select class="browser-default custom-select mb-4" id="select">
                    <option value="" disabled="" selected="">Choose a medium</option>
                    <option value="1">Jeep</option>
                    <option value="2">Bus</option>
                    <option value="3">Flight</option>
                </select> </div>
        </div>

        <div class="row">
            <div class="col-sm-6"> <input placeholder="&#xf073; Date" type="text" id="date-picker-example" class="form-control datepicker mb-4" style="font-family:Arial, FontAwesome"> </div>
           
        </div>
        
        </div> <a href="#" class="btn btn-primary float-right mt-5">Search</a>
    </div>
</div>

