


<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3"> Popular Places </h1>
                <p> Here are the popular places to visit. </p>
               
        </div>
    </div>

    <section di="latest-posts">
        <div class="container">
            <div class="float-sm-left">
            
            </div>
        </div>
    </section>
    <div class="container">
    <div class="float-sm-left">
    <div class="row">
    <% latest_posts.each do |post| %>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="float-sm-left">
            <div class="">
           <div>
            <%= link_to image_tag( post.image_as_thumbnail), post.image if post.image.attached? %>
            </div>
            
             <h2><%= post.title %></h2>
            <p> <%= post.body %> </p>
            
            <p><a class="btn btn-secondary" href="/posts/<%=post.id%>" role="button">View details </a></p>
            </div>
        </div>
    </div>
    <% end %>
    </div>
    </div>
</main>